---
// @ts-nocheck
import { client, urlForImg } from "../../lib/sanity";
import Layout from "../../layouts/Layout.astro";
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
  const posts = await client.fetch(`
    *[_type == "post" && defined(slug.current)]{
      "slug": slug.current,
      title,
      publishedAt,
      body,
      mainImage
    }
  `);

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const imageUrl = post.mainImage
  ? urlForImg(post.mainImage).auto("format").width(800).url()
  : null;
---

<Layout>
  <h1 class="bg-amber-600">{post.title}</h1>
  <p>Опубликовано {new Date(post.publishedAt).toLocaleDateString()}</p>

  {
    imageUrl && (
      <img
        src={imageUrl}
        alt={post.mainImage.alt || post.title}
        loading="lazy"
      />
    )
  }

  <article class="prose">
    <PortableText portableText={post.body} />
  </article>
</Layout>
