---
const { figcaption, logos } = Astro.props;
---

<li>
  {
    logos ? (
      <figure>
        {logos.map((Logo) => (
          <Logo />
        ))}
        <figcaption>{figcaption}</figcaption>
      </figure>
    ) : (
      <p>{figcaption}</p>
    )
  }
</li>
