.prose {
  @apply mb-36 max-w-prose;

  #main {
    padding-top: 6rem;
  }

  & > :is(h2, h3) {
    @apply mb-[.33em] w-[20em];
  }
  & > h2 {
    @apply text-[clamp(1.5rem,1.125rem+1.875svw,1.875rem)];
  }

  & > h3 {
    @apply text-[clamp(1.25rem,1rem+1.25svw,1.5rem)];
  }

  & > ul {
    @apply flex flex-col gap-y-2;
  }

  & > hr {
    @apply mb-8;
  }

  & > video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding-block: 40px;
  }

  & > :is(ul, ol, p) {
    @apply mb-2 leading-relaxed text-neutral-200;

    & > strong {
      @apply font-secondary leading-tight font-normal text-white;
    }

    &:has(+ :is(h2, hr)) {
      @apply mb-8;
    }

    &:has(+ :is(h3, ul, ol)) {
      @apply mb-6;
    }
  }

  /*   

  p {
    @apply leading-relaxed;
  }

  a {
    @apply text-blue-400 underline underline-offset-2 hover:text-blue-300 transition-colors;
  }

  strong {
    @apply text-white font-semibold;
  }

  ul,
  ol {
    @apply pl-6 space-y-2;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply leading-relaxed;
  }

  blockquote {
    @apply border-l-4 border-neutral-600 pl-4 italic text-neutral-400;
  }

  img {
    @apply rounded-lg my-8;
  }

  hr {
    @apply border-neutral-700 my-12;
  }

  code {
    @apply bg-neutral-700 px-1.5 py-0.5 rounded text-sm;
  }

  pre {
    @apply bg-neutral-900 p-4 rounded-lg overflow-x-auto;

    code {
      @apply bg-transparent p-0;
    }
  } */
}
