@layer components {
  #footer {
    @apply border-dashed border-neutral-500 flex flex-col justify-between gap-8 py-12 md:py-16;

    /* & > div {
      @apply grid grid-cols-6 md:grid-cols-12 gap-1 p-1;

      span {
        @apply bg-white h-20 md:h-32;
      }
    } */
  }

  #footer-top {
    @apply flex flex-row justify-between;
  }

  #footer-top > span {
    @apply text-6xl md:text-8xl lg:text-9xl font-medium leading-none self-end md:self-start;
  }

  #footer-form {
    @apply flex flex-col gap-2 max-w-sm;

    label {
      @apply font-medium;
    }

    input {
      @apply bg-transparent border-b border-white/40 pb-2 outline-none transition-colors placeholder:text-white/50;

      &:focus {
        @apply border-white;
      }
    }

    button {
      @apply self-start font-medium transition-colors;

      &:hover {
        @apply text-hover;
      }
    }
  }

  #footer-bottom {
    @apply py-4 border-t border-white/20 flex flex-wrap gap-x-8 gap-y-2 text-sm items-center justify-between;

    span:first-child {
      @apply text-white/70;
    }

    a {
      @apply underline transition-colors;

      &:hover {
        @apply text-hover;
      }
    }

    span:last-child {
      @apply text-white/50 ml-auto;
    }
  }
}
