@import "tailwindcss";
@import "@styles/header.css";
@import "@styles/projects.css";

@theme {
  --font-body: var(--font-space-grotesk);
  --font-secondary: var(--font-space-mono);

  --color-hover: var(--color-blue-100);
  --color-shadow: var(--color-blue-900);
  --color-grey: var(--color-neutral-500);
  /* --color-primary: var(--color-stone-950);
  --color-secondary: var(--color-stone-50);
  --color-light: var(--color-zinc-800);
   */
  --spacing-svw: min(3svw, 48px);
  --spacing-section: max(90px, calc(var(--spacing-svw) * 4));
  --spacing-section-sm: calc(var(--spacing-section) / 3);

  --spacing-text-indent: min(2em, 48px);

  /* --text-responsive: clamp(1rem, 0.9342rem + 0.3289svw, 1.25rem);
  --text-responsive-sm: calc(var(--text-responsive) * 0.875);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem); */
}

@layer base {
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body {
    scrollbar-gutter: stable both-edges;
    font-family: var(--font-body);
  }

  #main > section {
    @apply scroll-mt-section;
  }

  h1 {
    font-size: clamp(1.313rem, 5.625vw + 0.188rem, 5.25rem);
  }
}

@layer components {
  .wrapper {
    @apply w-full 2xl:container mx-auto px-svw;
  }

  #contacts {
    @apply mt-[var(--spacing-section-sm)];
  }

  @media (min-width: 48rem) {
    .grid-wrapper {
      @apply grid grid-cols-[minmax(15em,1fr)_min(52em,calc(92svw-15em))] gap-x-6 lg:grid-cols-[minmax(15em,1fr)_min(52em,calc(92svw-27em))_minmax(10em,1fr)];

      .grid-wrapper__subgrid {
        @apply grid col-span-full grid-cols-subgrid grid-flow-dense;
      }
    }

    .grid-wrapper__center-cell {
      @apply col-start-2 col-end-3;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }

    [data-fade-animation] {
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 0.6s ease forwards;
      animation-delay: calc(var(--fade-index) * 0.2s);
    }

    @keyframes fadeUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@layer utilities {
  #contacts > * {
    @apply md:text-xl md:col-span-full lg:col-start-2 lg:col-end-3 xl:text-2xl;
  }

  .heading-mono {
    @apply font-secondary uppercase text-sm;
  }
}
