@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  #body__background {
    position: fixed;
    width: 100%;
    height: 100vh;
  }

  #body__background::before,
  #body__background::after {
    content: "";
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 40% 60% 30% 70% / 35% 50% 50% 65%;
    filter: blur(3vw);
  }

  #body__background::before {
    top: 30%;
    left: 10%;
    width: 24%;
    aspect-ratio: 16/9;
  }

  #body__background::after {
    top: 60%;
    right: 10%;
    width: 36%;
    aspect-ratio: 1;
  }

  .blob {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 40% 60% 30% 70% / 35% 50% 50% 65%;
    background: red;
  }

  .svg-wrapper {
    width: 100px;
    aspect-ratio: 1/1;
    svg {
      width: 100%;
    }
  }

  .ellipse {
    width: 66%;
    /* position: absolute;
    top: 15%;
    right: 3%; */
    /* opacity: 0.66; */
    /* z-index: -1; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 2px 1vw #f8b654;
    /* animation-duration: 6s; */
    filter: blur(0.1vw);
    background: radial-gradient(
      120% 90% at 24% 74%,
      #340c00 0%,
      #e5320f 65.66%,
      #f8b654 100%
    );
  }

  .ellipse,
  .ellipse::before,
  .ellipse::after {
    aspect-ratio: 1;
    border-radius: 100%;
    /* animation-name: circle-rotate; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 12s;
    transform-origin: 51% 48%;
  }

  .ellipse::before,
  .ellipse::after {
    content: "";
    position: absolute;
  }
  .ellipse::before {
    width: 48%;
    z-index: 1;
    animation-name: identifier;
    animation-direction: alternate;
    animation-delay: 6s;
    /* animation-duration: 12s; */
    transform-origin: 54% 50%;
  }
  .ellipse::after {
    width: 75%;
    box-shadow: inset 0px 1px 0.39vw #f8b654;
    /* animation-duration: 7.5s; */
    animation-name: identifier;
    animation-direction: alternate;
    transform-origin: 48% 48%;
  }

  @keyframes identifier {
    from {
      box-shadow: inset 0px 1px 0.5vw rgba(248, 182, 84, 0.1);
    }
    to {
      box-shadow: inset 0px 1px 0.5vw rgba(248, 182, 84, 1);
    }
  }

  @keyframes circle-rotate {
    /* from {
    width: 50px;
    height: 50px;
    background-color: #F498AD;
  } */
    to {
      rotate: 360deg;
    }
  }

  .background {
    width: 300px;
    aspect-ratio: 1;
    background-image: linear-gradient(
      90deg,
      red 2px,
      transparent 2px 6px,
      pink 6px 8px,
      transparent 8px 12px
    );
    background-size: 12px 100%;

    border-radius: 20px;
    animation-name: stripes;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation-timing-function: ease;
    animation-duration: 9s;
  }

  @keyframes stripes {
    from {
      background-size: 12px 100%;
    }
    to {
      background-size: 12% 100%;
    }
  }

  .scene {
    width: 90vw;
    height: 90vw;
    /* aspect-ratio: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    /* gap: 10px; */
    /* transform: rotatex(65deg) rotatez(45deg); */
    /* transform: rotatex(90deg) rotatez(10deg); */
    /* transform: rotatex(0deg) rotatez(0deg) rotateY(3deg); */
    /* transform: rotatex(0deg) rotatez(0deg) rotateY(3deg); */
    /* animation-name: asa;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-duration: 3s; */
  }

  @keyframes asa {
    from {
      transform: rotatex(0deg) rotatez(0deg) rotateY(4deg);
    }
    to {
      transform: rotatex(0deg) rotatez(0deg) rotateY(-4deg);
    }
  }

  .scene div::before,
  .scene div::after {
    content: "";
    position: absolute;
    transform-style: preserve-3d;
  }

  .cube {
    /* --colo: #70eed3; */
    /* --colo: #e2afff; */
    --colo: #f6f9fe;
    --size: 12svw;
    --x: 1vw;
    --y: calc(var(--size) * 3);
    --z: calc(var(--size) * 12);
    /* --size: 100px;
    --x: var(--size);
    --y: calc(var(--size) * 3);
    --z: calc(var(--size) * 2); */
    transform-style: preserve-3d;
    width: var(--x);
    height: var(--y);
    background-color: #f6f9ff;
    position: relative;
    animation-name: asa;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-duration: 3s;
    transform-origin: center center 60px;
  }

  /* .cube::before {
    width: var(--x);
    height: var(--z);
    background-color: red;
    transform-origin: top center;
    rotate: x 90deg;
  }

  .cube::after {
    width: var(--x);
    height: var(--z);
    bottom: 0;
    background-color: red;
    transform-origin: bottom center;
    rotate: x -90deg;
  } */

  /* .cube div,
  .cube div::before,
  .cube div::after {
    opacity: 0.66;
  } */

  .cube div {
    width: var(--x);
    height: var(--y);
    position: absolute;
    transform-style: preserve-3d;
    /* background-color: var(--colo); */
    /* background-image: linear-gradient(
      45deg,
      var(--colo),
      color-mix(in display-p3, var(--colo) 36%, #fff)
    ); */
    /* filter: hue-rotate(calc(12deg * var(--i))); */
    background-color: #f6f9ff;
    translate: 0 0 var(--z);
  }

  .cube *::before,
  .cube *::after {
    border: 2px solid #f6f9ff;
  }

  /* .cube div::before,
  .cube div::after {
    background-image: linear-gradient(45deg, black, white);
  } */

  .cube div::before {
    width: var(--z);
    height: var(--y);
    /* background-color: var(--colo); */
    background-image: linear-gradient(
      45deg,
      var(--colo),
      color-mix(in display-p3, var(--colo) 36%, #cbfcff)
    );
    filter: hue-rotate(calc(9deg * var(--i)));
    /* background-image: linear-gradient(45deg, black, black); */
    /* background-image: linear-gradient(45deg, black, #f6f9ff); */
    /* background-image: linear-gradient(45deg, black, white); */
    transform-origin: left center;
    rotate: y 90deg;
  }

  .cube div::after {
    width: var(--z);
    height: var(--y);
    right: 0;
    /* background-color: var(--colo); */
    background-image: linear-gradient(
      45deg,
      color-mix(in display-p3, var(--colo) 36%, #cbfcff),
      var(--colo)
    );
    filter: hue-rotate(calc(9deg * var(--i)));
    /* background-image: linear-gradient(45deg, black, black); */
    /* background-image: linear-gradient(45deg, #f6f9ff, black); */
    /* background-color: black; */
    transform-origin: right center;
    rotate: y -90deg;
  }
}
