@layer components {
  #projects {
    ul {
      @apply flex flex-col;
    }

    li {
      @apply relative flex flex-wrap gap-svw text-2xl py-4 border-t border-dashed border-neutral-500;
      &:last-of-type {
        @apply border-b;
      }
    }

    span {
      @apply block font-secondary md:px-3 max-[20rem]:hidden;
    }

    a {
      @apply flex grow justify-between;

      &::before,
      &::after {
        content: "";
        @apply absolute -inset-y-[1px] -inset-x-3 md:inset-x-0;
      }

      &::after {
        @apply -z-1 scale-y-0 bg-sky-700 transition-transform duration-200;
      }

      &[data-enter]::after {
        @apply scale-y-100;
      }

      &[data-leave]::after {
        @apply scale-y-0;
      }

      &[data-enter="bottom"]::after {
        @apply origin-bottom;
      }

      &[data-enter="top"]::after {
        @apply origin-top;
      }

      &[data-leave="bottom"]::after {
        @apply origin-bottom;
      }

      &[data-leave="top"]::after {
        @apply origin-top;
      }
    }

    svg {
      @apply shrink-0 justify-self-end self-center h-3 md:me-3 max-[20rem]:hidden;
      path {
        @apply fill-current;
      }
    }
  }
}
