---
import SocialLinksList from "@components/UI/SocialLinksList.astro";
import { type Locale, useTranslations } from "@i18n/ui";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
const t = useTranslations(locale);
---

<section id="contacts" class="wrapper">
  <div>
    <h2>{t("contacts.title")} →</h2>
    <address>
      <SocialLinksList />
    </address>
  </div>

  <p>{t("contacts.description")}</p>
</section>
