---
import SocialLinksList from "@components/UI/SocialLinksList.astro";
---

<section id="contacts" class="wrapper">
  <div>
    <h2>Contact Me →</h2>
    <address>
      <SocialLinksList />
    </address>
  </div>

  <p>
    I prefer clean code, as it creates the fastest, most SEO-optimized, and
    accessible websites. This brings more traffic, better engagement, and future
    scalability as your business grows.
  </p>
</section>
