---
import SocialLinksList from "@components/UI/SocilaLinksList.astro";
---

<header
  id="header"
  class="wrapper fixed top-4 start-1/2 -translate-x-1/2"
  style="--fade-index: 3"
  data-fade-animation
>
  <div
    id="header-content"
    class="absolute end-svw w-96 max-w-[calc(100%-var(--spacing-svw)*2)] ms-auto"
  >
    <div id="header-top">
      <p class="flex flex-col gap-y-1 p-3 font-secondary uppercase">
        <span>Ivan Pozdnovskii</span>
        <span class="text-xs">Website Developer</span>
      </p>
      <button
        data-umami-event="header-navigation-toggle"
        id="header-btn"
        aria-label="Toggle menu"
        aria-controls="header-nav"
        aria-expanded="false"
      >
        <div id="burger-line-middle" class="-order-1"></div>
      </button>
    </div>

    <nav
      inert
      id="header-nav"
      class="grid relative overflow-hidden transition-all duration-500 ease-in-out"
    >
      <div id="nav-content" class="pt-[2px]">
        <ul
          class="flex flex-col gap-y-3 relative overflow-visible p-3 [&_span]:me-2 [&_span]:font-secondary"
        >
          <li>
            <a
              data-umami-event="header-navigation"
              data-umami-event-link="services"
              href="#services"><span aria-hidden="true">01</span>Services</a
            >
          </li>
          <li>
            <a
              data-umami-event="header-navigation"
              data-umami-event-link="tools"
              href="#tools"
              ><span aria-hidden="true">02</span>Technologies & Tools</a
            >
          </li>
          <li>
            <a
              data-umami-event="header-navigation"
              data-umami-event-link="how-to"
              href="#how-to"
              ><span aria-hidden="true">03</span>Principles & Approach</a
            >
          </li>
          <!-- <li>
            <a href="#projects"><span aria-hidden>04</span>Projects</a>
          </li> -->
        </ul>
        <address class="">
          <SocialLinksList variant="vertical" />
        </address>
      </div>
    </nav>
  </div>
</header>
