---
import Layout from "../layouts/Layout.astro";

import AstroLogo from "../assets/tech-logos/astro.svg";
import CssLogo from "../assets/tech-logos/css.svg";
import GsapLogo from "../assets/tech-logos/gsap.svg";
import HtmlLogo from "../assets/tech-logos/html.svg";
import JsLogo from "../assets/tech-logos/js.svg";
import ReploLogo from "../assets/tech-logos/replo.svg";
import ShopifyLogo from "../assets/tech-logos/shopify.svg";
import TailwindLogo from "../assets/tech-logos/tailwind.svg";
import WebflowLogo from "../assets/tech-logos/webflow.svg";
import WebstudioLogo from "../assets/tech-logos/webstudio.svg";

import ContraLogo from "../assets/social-logos/contra.svg";
import LinkedinLogo from "../assets/social-logos/linkedin.svg";
import UpworkLogo from "../assets/social-logos/upwork.svg";
---

<Layout>
    <header class="fixed w-full z-10 flex justify-between items-center">
        <a href="/">Weblate</a>
        <nav>
            <ul class="flex gap-x-4">
                <li><a href="#services">Services</a></li><li>
                    <a href="#works">Works</a>
                </li>
                <li><a href="practices">Practices</a></li>
            </ul>
        </nav>
        <address>
            <ul class="flex gap-x-4 [&_svg]:w-4 [&_svg]:aspect-square">
                <li><a href="" target="_blank"><ContraLogo /></a></li>
                <li><a href="" target="_blank"><LinkedinLogo /></a></li>
                <li><a href="" target="_blank"><UpworkLogo /></a></li>
            </ul>
        </address>
        <a href="#">Grow my project</a>
    </header>

    <div id="body__background"></div>

    <main class="relative flex flex-col gap-y-11 pt-12">
        <section id="hero">
            <h1>We create websites that make a difference and drive growth</h1>
            <p>
                Web design & development studio helping brands grow online
                through fast, accessible, and beautiful websites.
            </p>
        </section>

        <section id="services">
            <h2>Our Services: We can create or improve</h2>
            <p>
                Specializing in web design and development for small and
                medium-sized businesses.
            </p>
            <ul>
                <li>
                    <h3>Web Design</h3><p>
                        We build secure, scalable websites with user-friendly
                        CMS for easy updates, optimized for fast loading and
                        seamless user experience.
                    </p>
                </li>
            </ul>
        </section>

        <section id="works">
            <h2>Our Services: We can create or improve</h2>
        </section>

        <section id="tools">
            <h2>Technologies & Tools</h2>
            <p>
                We work with modern, reliable technologies to deliver
                exceptional results.
            </p>
            <ul class="flex *:grow [&_svg]:h-8">
                <li>
                    <AstroLogo />
                </li>
                <li>
                    <CssLogo />
                </li>
                <li>
                    <GsapLogo />
                </li>
                <li>
                    <HtmlLogo />
                </li>
                <li>
                    <JsLogo />
                </li>
                <li>
                    <ReploLogo />
                </li>
                <li>
                    <ShopifyLogo />
                </li>
                <li>
                    <TailwindLogo />
                </li>
                <li>
                    <WebflowLogo />
                </li>
                <li>
                    <WebstudioLogo />
                </li>
            </ul>
        </section>

        <section id="testimonials">
            <h2>Testimonials</h2>
            <ul>
                <li>
                    <article>
                        <blockquote>
                            "Hands down the most reliable and effective
                            contractor I've worked with. Hired for a short-term
                            project - but found myself looking for new work to
                            hand off to Ivan knowing his skills."
                        </blockquote>
                        <figure>
                            <img src="" alt="" />
                            <span></span>
                            <span></span>
                        </figure>
                        <a href="" target="_blank">Visit site →</a>
                    </article>
                </li>
            </ul>
        </section>
    </main>

    <footer></footer>
</Layout>
