---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="h-screen w-full flex p-1.5">
        <h1
            class="text-[clamp(24px,12svw,66px)] leading-none font-black uppercase text-balance self-end"
        >
            New site coming soon
        </h1>
    </div>
</Layout>
