---
import Layout from "../layouts/Layout.astro";

import SocialLinksList from "../components/SocilaLinksList.astro";
---

<Layout>
  <header
    class="auto fixed w-full z-10 justify-between items-center px-[3svw] py-3 backdrop-blur-md"
  >
    <a href="/">
      <div class="font-mono leading-4 flex flex-col">
        <span class="font-medium tracking-tighter">Ivan Pozdnovskii</span>
        <span class="text-sm">Website Developer</span>
      </div>
    </a>
    <nav class="hidden">
      <ul class="flex gap-x-4">
        <li><a href="#services">Services</a></li><li>
          <a href="#works">Works</a>
        </li>
        <li><a href="practices">Practices</a></li>
      </ul>
    </nav>
    <a href="#" class="hidden">Grow my project</a>
  </header>

  <main class="relative flex flex-col gap-y-[66svw] px-[3svw]">
    <section
      id="hero"
      class="min-h-[100dvh] py-4 flex flex-col gap-[min(21svw,6rem)] justify-end pt-24"
    >
      <div class="text-balance relative flex flex-col">
        <h1
          class="text-[clamp(30px,1rem+6.3svw,4rem)] tracking-tight font-mono font-extralight leading-[min(1.15em,66px)] w-[9em] max-w-full mb-[.36em] opacity-80"
        >
          Meticulous Developer For Your Website
        </h1>
        <p class="text-base leading-[1.66em] text-balance w-[24em] max-w-full">
          I specialize in fast-loading, SEO-friendly, accessible websites —
          built to <span class="inline-block italic font-serif"
            >rank higher and perform better.</span
          >
        </p>
      </div>

      <!-- <section class="lg:self-end-safe"></section> -->
      <div class="">
        <h2
          class="text-[clamp(18px,.5rem+3.6svw,2rem)] font-mono font-light tracking-tighter mb-0"
        >
          Write me here:
        </h2>
        <address>
          <SocialLinksList />
        </address>
      </div>
    </section>
  </main>
</Layout>
