---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";

import ServicesSection from "@components/sections/ServicesSection/ServicesSection.astro";
import ContactsSection from "@components/sections/ContactsSection.astro";
import HowToSection from "@components/sections/HowToSection.astro";
import ToolsSection from "@components/sections/ToolsSection/ToolsSection.astro";
import ProjectsSection from "@components/sections/ProjectsSection.astro";
import Footer from "@components/sections/Footer.astro";

import backgroundDesk from "@images/hero-bg-desk.webp";
---

<Layout>
  <main
    id="main"
    class="relative flex flex-col gap-y-section overflow-hidden pb-section -z-1"
  >
    <section
      id="hero"
      class="wrapper min-h-dvh pt-27 pb-2 gap-[min(21svw,80px)] justify-between flex flex-col-reverse w-full relative md:pt-5"
    >
      <h1
        data-fade-animation
        class="text-[clamp(1.313rem,5.625vw+0.188rem,5.25rem)] leading-tight indent-[2ch] uppercase w-[15em] max-w-full pb-section-sm md:leading-[1.2] md:pb-svw"
        style="--fade-index: 1"
      >
        <span style="--item-index: 1">Meticulous</span>
        <span style="--item-index: 2">Developer</span>
        <span style="--item-index: 3">For</span>
        <span style="--item-index: 4">Your</span>
        <span style="--item-index: 5">Website</span>
      </h1>
      <p
        data-fade-animation
        class="indent-text-indent leading-tight w-96 max-w-full ms-auto md:me-102 md:w-87 md:max-w-[calc(100%-var(--spacing)*99)]"
        style="--fade-index: 2"
      >
        I specialize in fast-loading, SEO-friendly, accessible websites — built
        to rank higher and perform better.
      </p>

      <a
        data-umami-event="click-explore"
        href="#contacts"
        data-fade-animation
        style="--fade-index: 4"
        class="absolute self-end heading-mono flex gap-x-8 md:w-xs md:max-w-[calc(100%-var(--spacing-svw)*2)]"
      >
        <span aria-hidden="true" class="hidden md:block md:me-auto">/</span
        ><span>Explore</span><span>↓</span></a
      >
    </section>

    <Image
      src={backgroundDesk}
      alt=""
      aria-hidden="true"
      class="object-cover absolute -z-1 h-[110svh] w-full max-w-500"
      widths={[640, 1280, 1920]}
      sizes="100vw"
      priority
    />

    <ContactsSection />

    <ServicesSection />

    <ToolsSection />

    <HowToSection />

    <ProjectsSection />
  </main>
  <Footer />
</Layout>

<script>
  import { initAccordions } from "@scripts/accordion.js";
  import { initHowToTabs } from "@scripts/how-to-tabs.js";
  import { initServiceCardAnimations } from "@scripts/service-cards.js";

  initAccordions();
  initHowToTabs();
  initServiceCardAnimations();
</script>
