---
import Layout from "../layouts/Layout.astro";

import SocialLink from "../components/SocialLink.astro";

import ContraLogo from "../assets/social-logos/contra_logo.svg";
import UpworkLogo from "../assets/social-logos/upwork_logo.svg";
import LinkedinLogo from "../assets/social-logos/linkedin_logo.svg";
import TgLogo from "../assets/social-logos/tg_logo.svg";
---

<Layout>
  <main class="h-[100dvh] w-full px-3 py-5 flex flex-col justify-between">
    <section>
      <h1
        class="text-[clamp(24px,1rem+8.4svw,66px)] leading-none font-black uppercase text-balance"
      >
        New Website Coming Soon
      </h1>
      <!-- <p class="text-[clamp(18px,.33rem+4.8svw,36px)] font-medium">
                ready by 07/07
            </p> -->
    </section>

    <section class="lg:self-end-safe">
      <h2 class="text-[clamp(18px,1rem+4.8svw,30px)] mb-2">
        Find us here for now:
      </h2>
      <address>
        <ul class="flex gap-x-2 lg:justify-end">
          <SocialLink
            href="https://contra.com/ipozdnovskii_f3llzxwh?referralExperimentNid=SOCIAL_REFERRAL_PROGRAM&referrerUsername=ipozdnovskii_f3llzxwh"
            ariaLabel="Contra account"
            Icon={ContraLogo}
          />
          <SocialLink
            href="https://www.upwork.com/freelancers/~014d1e5fca851a8c3a?mp_source=share"
            ariaLabel="Upwork account"
            Icon={UpworkLogo}
          />
          <SocialLink
            href="https://www.linkedin.com/in/ivan-pozdnovskii/?locale=en_US"
            ariaLabel="Linkedin account"
            Icon={LinkedinLogo}
          />
          <SocialLink
            href="https://t.me/pozdnovskii"
            ariaLabel="Telegram account"
            Icon={TgLogo}
          />
        </ul>
      </address>
    </section>
  </main>
</Layout>
