---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Title" description="Description about Lux Watches">
  <main
    id="main"
    class="wrapper flex flex-col gap-section"
    style="margin-top: 180px;"
  >
    <div id="comparison-table-wrapper">
      <div id="btn-wrapper">
        <button onclick="showColumn(3)">vs Aneros </button>
        <button onclick="showColumn(4)">vs Lelo</button>
        <button onclick="showColumn(5)">vs Nexus</button>
      </div>
      <table class="comparison-table">
        <thead>
          <tr>
            <th>The Difference</th>
            <th>
              <svg
                aria-label="Giddi"
                viewBox="0 0 150 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M44.0898 1.21777H49.0801V24.7834H44.0898V1.21777Z"
                  fill="white"></path>
                <path
                  d="M143.395 1.21777H148.385V24.7539H143.395V1.21777Z"
                  fill="white"></path>
                <path
                  d="M83.3367 4.68929C81.1645 2.42393 78.1704 1.18829 75.0589 1.24713H67.9258V24.7833H75.0589C78.1704 24.8421 81.1939 23.5771 83.3367 21.3117C85.597 19.164 86.8299 16.1337 86.8005 13.0152C86.8593 9.86725 85.597 6.86639 83.3367 4.68929ZM79.8142 17.7813C78.5814 19.0758 76.8495 19.7819 75.0589 19.7524H72.916V6.27798H75.0295C76.8201 6.24856 78.552 6.95465 79.7849 8.24914C81.0765 9.5142 81.781 11.25 81.7516 13.0446C81.8103 14.8098 81.1058 16.5456 79.8142 17.7813Z"
                  fill="white"></path>
                <path
                  d="M121.087 4.68925C118.915 2.45331 115.891 1.18824 112.78 1.24708H105.676V24.7832H112.78C115.891 24.8421 118.915 23.577 121.057 21.3411C123.318 19.164 124.551 16.1631 124.521 13.0446C124.58 9.8672 123.318 6.86634 121.087 4.68925ZM117.535 17.7812C116.302 19.0757 114.57 19.7818 112.78 19.7524H110.666V6.27794H112.78C114.57 6.24852 116.273 6.9546 117.535 8.24909C118.826 9.51416 119.531 11.25 119.502 13.0446C119.531 14.8098 118.826 16.5456 117.535 17.7812Z"
                  fill="white"></path>
                <path
                  d="M14.2669 10.5145L13.3863 15.5159V15.5453H19.6094C18.67 18.1637 16.1749 19.8995 13.3863 19.8995C13.2689 19.8995 13.1221 19.8995 13.0047 19.8701C11.3608 19.8112 9.80507 19.0757 8.66025 17.8695C7.39802 16.575 6.69352 14.8098 6.72287 12.9858C6.69352 11.1617 7.39802 9.42591 8.66025 8.13142C9.89313 6.83693 11.5957 6.10143 13.3863 6.13085C13.944 6.13085 14.4724 6.18969 15.0008 6.30737C16.4685 6.66041 17.7601 7.5136 18.6407 8.74925L22.31 5.10114C20.7248 3.10057 18.4352 1.71782 15.9107 1.24709C15.0888 1.09999 14.2376 1.01173 13.3863 1.01173C10.2747 0.95289 7.25125 2.21796 5.07904 4.48332C2.81876 6.71925 1.55653 9.80837 1.61524 12.9858C1.55653 16.1631 2.81876 19.2228 5.07904 21.4588C7.04577 23.5476 9.74636 24.8127 12.5937 24.9598C12.8579 24.9892 13.1221 24.9892 13.3863 24.9892C16.5565 25.048 19.58 23.7536 21.7522 21.4588C23.3961 19.8407 24.5115 17.7812 24.9518 15.5159C25.128 14.6921 25.216 13.8389 25.216 12.9858V10.5145H14.2669Z"
                  fill="white"></path>
              </svg>
            </th>
            <th>ANEROS</th>
            <th>
              <svg
                aria-label="Giddi"
                viewBox="0 0 114 23"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M100.691 0C107.686 0 113.311 3.99174 113.311 11.3071C113.311 18.6194 107.685 22.6181 100.691 22.6181C93.7068 22.6181 88.08 18.6194 88.08 11.3071C88.08 3.99097 93.7076 0 100.691 0ZM4.09239 0.837677L4.09471 18.3809H18.7788V21.7781H0V0.837677H4.09239ZM64.9703 0.837677V18.3809H79.6537V21.7781H60.8772V0.837677H64.9703ZM48.8098 0.837677V4.22942H33.5799V9.34994H44.0028V12.744H33.5799V18.3817H48.8028V21.7781H29.4898V0.837677H48.8098ZM100.692 3.41265C96.0054 3.41265 92.2096 6.15794 92.2096 11.3071C92.2096 16.4524 96.0054 19.1985 100.692 19.1985C105.389 19.1985 109.183 16.4524 109.183 11.3071C109.183 6.15716 105.389 3.41265 100.692 3.41265Z"
                  fill="white"></path>
              </svg>
            </th>
            <th>NEXUS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Remote Controlled</td>
            <td>
              <div>
                <svg
                  aria-hidden="true"
                  data-icon="yes"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM21.0531 8.69692C20.5405 8.18436 19.7095 8.18436 19.1969 8.69692C19.1845 8.7093 19.1729 8.72241 19.1621 8.73618L13.0854 16.4793L9.42178 12.8156C8.90922 12.3031 8.07819 12.3031 7.56563 12.8156C7.05307 13.3282 7.05307 14.1592 7.56563 14.6718L12.1969 19.3031C12.7095 19.8156 13.5405 19.8156 14.0531 19.3031C14.0645 19.2917 14.0753 19.2796 14.0853 19.267L21.0717 10.5341C21.5656 10.0202 21.5593 9.2032 21.0531 8.69692Z"
                  ></path>
                </svg>
              </div>
            </td>
            <td>
              <div>
                <svg
                  aria-hidden="true"
                  data-icon="no"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM9.36872 8.13128C9.02701 7.78957 8.47299 7.78957 8.13128 8.13128C7.78957 8.47299 7.78957 9.02701 8.13128 9.36872L12.7626 14L8.13128 18.6313C7.78957 18.973 7.78957 19.527 8.13128 19.8687C8.47299 20.2104 9.02701 20.2104 9.36872 19.8687L14 15.2374L18.6313 19.8687C18.973 20.2104 19.527 20.2104 19.8687 19.8687C20.2104 19.527 20.2104 18.973 19.8687 18.6313L15.2374 14L19.8687 9.36872C20.2104 9.02701 20.2104 8.47299 19.8687 8.13128C19.527 7.78957 18.973 7.78957 18.6313 8.13128L14 12.7626L9.36872 8.13128Z"
                  ></path>
                </svg>
              </div></td
            >
            <td>
              <div>
                <span>Some</span>
              </div>
            </td>
            <td>
              <div>
                <span>Some</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Hands-Free Use</td>
            <td>
              <div>
                <svg
                  aria-hidden="true"
                  data-icon="yes"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM21.0531 8.69692C20.5405 8.18436 19.7095 8.18436 19.1969 8.69692C19.1845 8.7093 19.1729 8.72241 19.1621 8.73618L13.0854 16.4793L9.42178 12.8156C8.90922 12.3031 8.07819 12.3031 7.56563 12.8156C7.05307 13.3282 7.05307 14.1592 7.56563 14.6718L12.1969 19.3031C12.7095 19.8156 13.5405 19.8156 14.0531 19.3031C14.0645 19.2917 14.0753 19.2796 14.0853 19.267L21.0717 10.5341C21.5656 10.0202 21.5593 9.2032 21.0531 8.69692Z"
                  ></path>
                </svg>
              </div>
            </td>
            <td>
              <div>
                <span>Some</span>
              </div></td
            >
            <td>
              <div>
                <span>Some</span>
              </div></td
            >
            <td>
              <div>
                <span>Some</span>
              </div></td
            >
          </tr>
          <tr>
            <td>Beginner Friendly</td>
            <td>
              <div>
                <svg
                  aria-hidden="true"
                  data-icon="yes"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM21.0531 8.69692C20.5405 8.18436 19.7095 8.18436 19.1969 8.69692C19.1845 8.7093 19.1729 8.72241 19.1621 8.73618L13.0854 16.4793L9.42178 12.8156C8.90922 12.3031 8.07819 12.3031 7.56563 12.8156C7.05307 13.3282 7.05307 14.1592 7.56563 14.6718L12.1969 19.3031C12.7095 19.8156 13.5405 19.8156 14.0531 19.3031C14.0645 19.2917 14.0753 19.2796 14.0853 19.267L21.0717 10.5341C21.5656 10.0202 21.5593 9.2032 21.0531 8.69692Z"
                  ></path>
                </svg>
              </div>
            </td>
            <td>
              <div>
                <span>Some</span>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="no"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM9.36872 8.13128C9.02701 7.78957 8.47299 7.78957 8.13128 8.13128C7.78957 8.47299 7.78957 9.02701 8.13128 9.36872L12.7626 14L8.13128 18.6313C7.78957 18.973 7.78957 19.527 8.13128 19.8687C8.47299 20.2104 9.02701 20.2104 9.36872 19.8687L14 15.2374L18.6313 19.8687C18.973 20.2104 19.527 20.2104 19.8687 19.8687C20.2104 19.527 20.2104 18.973 19.8687 18.6313L15.2374 14L19.8687 9.36872C20.2104 9.02701 20.2104 8.47299 19.8687 8.13128C19.527 7.78957 18.973 7.78957 18.6313 8.13128L14 12.7626L9.36872 8.13128Z"
                  ></path>
                </svg>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="no"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM9.36872 8.13128C9.02701 7.78957 8.47299 7.78957 8.13128 8.13128C7.78957 8.47299 7.78957 9.02701 8.13128 9.36872L12.7626 14L8.13128 18.6313C7.78957 18.973 7.78957 19.527 8.13128 19.8687C8.47299 20.2104 9.02701 20.2104 9.36872 19.8687L14 15.2374L18.6313 19.8687C18.973 20.2104 19.527 20.2104 19.8687 19.8687C20.2104 19.527 20.2104 18.973 19.8687 18.6313L15.2374 14L19.8687 9.36872C20.2104 9.02701 20.2104 8.47299 19.8687 8.13128C19.527 7.78957 18.973 7.78957 18.6313 8.13128L14 12.7626L9.36872 8.13128Z"
                  ></path>
                </svg>
              </div></td
            >
          </tr>
          <tr>
            <td>Medical Grade Silicone</td>
            <td>
              <div>
                <svg
                  aria-hidden="true"
                  data-icon="yes"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM21.0531 8.69692C20.5405 8.18436 19.7095 8.18436 19.1969 8.69692C19.1845 8.7093 19.1729 8.72241 19.1621 8.73618L13.0854 16.4793L9.42178 12.8156C8.90922 12.3031 8.07819 12.3031 7.56563 12.8156C7.05307 13.3282 7.05307 14.1592 7.56563 14.6718L12.1969 19.3031C12.7095 19.8156 13.5405 19.8156 14.0531 19.3031C14.0645 19.2917 14.0753 19.2796 14.0853 19.267L21.0717 10.5341C21.5656 10.0202 21.5593 9.2032 21.0531 8.69692Z"
                  ></path>
                </svg>
              </div>
            </td>
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="yes"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM21.0531 8.69692C20.5405 8.18436 19.7095 8.18436 19.1969 8.69692C19.1845 8.7093 19.1729 8.72241 19.1621 8.73618L13.0854 16.4793L9.42178 12.8156C8.90922 12.3031 8.07819 12.3031 7.56563 12.8156C7.05307 13.3282 7.05307 14.1592 7.56563 14.6718L12.1969 19.3031C12.7095 19.8156 13.5405 19.8156 14.0531 19.3031C14.0645 19.2917 14.0753 19.2796 14.0853 19.267L21.0717 10.5341C21.5656 10.0202 21.5593 9.2032 21.0531 8.69692Z"
                  ></path>
                </svg>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="yes"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM21.0531 8.69692C20.5405 8.18436 19.7095 8.18436 19.1969 8.69692C19.1845 8.7093 19.1729 8.72241 19.1621 8.73618L13.0854 16.4793L9.42178 12.8156C8.90922 12.3031 8.07819 12.3031 7.56563 12.8156C7.05307 13.3282 7.05307 14.1592 7.56563 14.6718L12.1969 19.3031C12.7095 19.8156 13.5405 19.8156 14.0531 19.3031C14.0645 19.2917 14.0753 19.2796 14.0853 19.267L21.0717 10.5341C21.5656 10.0202 21.5593 9.2032 21.0531 8.69692Z"
                  ></path>
                </svg>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="yes"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM21.0531 8.69692C20.5405 8.18436 19.7095 8.18436 19.1969 8.69692C19.1845 8.7093 19.1729 8.72241 19.1621 8.73618L13.0854 16.4793L9.42178 12.8156C8.90922 12.3031 8.07819 12.3031 7.56563 12.8156C7.05307 13.3282 7.05307 14.1592 7.56563 14.6718L12.1969 19.3031C12.7095 19.8156 13.5405 19.8156 14.0531 19.3031C14.0645 19.2917 14.0753 19.2796 14.0853 19.267L21.0717 10.5341C21.5656 10.0202 21.5593 9.2032 21.0531 8.69692Z"
                  ></path>
                </svg>
              </div></td
            >
          </tr>
          <tr>
            <td>Discreet Packaging</td>
            <td>
              <div>
                <span>Always</span>
              </div>
            </td>
            <td>
              <div>
                <span>Depends</span>
              </div></td
            >
            <td
              ><div>
                <span>Depends</span>
              </div></td
            >
            <td
              ><div>
                <span>Depends</span>
              </div></td
            >
          </tr>
          <tr>
            <td>Satisfaction Guarantee</td>
            <td>
              <div>
                <span>30-Day</span>
              </div>
            </td>
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="no"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM9.36872 8.13128C9.02701 7.78957 8.47299 7.78957 8.13128 8.13128C7.78957 8.47299 7.78957 9.02701 8.13128 9.36872L12.7626 14L8.13128 18.6313C7.78957 18.973 7.78957 19.527 8.13128 19.8687C8.47299 20.2104 9.02701 20.2104 9.36872 19.8687L14 15.2374L18.6313 19.8687C18.973 20.2104 19.527 20.2104 19.8687 19.8687C20.2104 19.527 20.2104 18.973 19.8687 18.6313L15.2374 14L19.8687 9.36872C20.2104 9.02701 20.2104 8.47299 19.8687 8.13128C19.527 7.78957 18.973 7.78957 18.6313 8.13128L14 12.7626L9.36872 8.13128Z"
                  ></path>
                </svg>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="no"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM9.36872 8.13128C9.02701 7.78957 8.47299 7.78957 8.13128 8.13128C7.78957 8.47299 7.78957 9.02701 8.13128 9.36872L12.7626 14L8.13128 18.6313C7.78957 18.973 7.78957 19.527 8.13128 19.8687C8.47299 20.2104 9.02701 20.2104 9.36872 19.8687L14 15.2374L18.6313 19.8687C18.973 20.2104 19.527 20.2104 19.8687 19.8687C20.2104 19.527 20.2104 18.973 19.8687 18.6313L15.2374 14L19.8687 9.36872C20.2104 9.02701 20.2104 8.47299 19.8687 8.13128C19.527 7.78957 18.973 7.78957 18.6313 8.13128L14 12.7626L9.36872 8.13128Z"
                  ></path>
                </svg>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="no"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM9.36872 8.13128C9.02701 7.78957 8.47299 7.78957 8.13128 8.13128C7.78957 8.47299 7.78957 9.02701 8.13128 9.36872L12.7626 14L8.13128 18.6313C7.78957 18.973 7.78957 19.527 8.13128 19.8687C8.47299 20.2104 9.02701 20.2104 9.36872 19.8687L14 15.2374L18.6313 19.8687C18.973 20.2104 19.527 20.2104 19.8687 19.8687C20.2104 19.527 20.2104 18.973 19.8687 18.6313L15.2374 14L19.8687 9.36872C20.2104 9.02701 20.2104 8.47299 19.8687 8.13128C19.527 7.78957 18.973 7.78957 18.6313 8.13128L14 12.7626L9.36872 8.13128Z"
                  ></path>
                </svg>
              </div></td
            >
          </tr>
          <tr>
            <td>Warranty</td>
            <td>
              <div>
                <span>1-Year</span>
              </div>
            </td>
            <td
              ><div>
                <span>Limited</span>
              </div></td
            >
            <td
              ><div>
                <span>Limited</span>
              </div></td
            >
            <td
              ><div>
                <span>Limited</span>
              </div></td
            >
          </tr>
          <tr>
            <td>Waterproof</td>
            <td>
              <div>
                <span>100%</span>
              </div>
            </td>
            <td
              ><div>
                <span>Splashproof</span>
              </div></td
            >
            <td
              ><div>
                <span>Splashproof</span>
              </div></td
            >
            <td
              ><div>
                <span>Splashproof</span>
              </div></td
            >
          </tr>
          <tr>
            <td>Pain Free</td>
            <td>
              <div>
                <svg
                  aria-hidden="true"
                  data-icon="yes"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14ZM21.0531 8.69692C20.5405 8.18436 19.7095 8.18436 19.1969 8.69692C19.1845 8.7093 19.1729 8.72241 19.1621 8.73618L13.0854 16.4793L9.42178 12.8156C8.90922 12.3031 8.07819 12.3031 7.56563 12.8156C7.05307 13.3282 7.05307 14.1592 7.56563 14.6718L12.1969 19.3031C12.7095 19.8156 13.5405 19.8156 14.0531 19.3031C14.0645 19.2917 14.0753 19.2796 14.0853 19.267L21.0717 10.5341C21.5656 10.0202 21.5593 9.2032 21.0531 8.69692Z"
                  ></path>
                </svg>
              </div>
            </td>
            <td
              ><div>
                <span>Depends</span>
              </div></td
            >
            <td
              ><div>
                <span>Depends</span>
              </div></td
            >
            <td
              ><div>
                <span>Depends</span>
              </div></td
            >
          </tr>
          <tr>
            <td>Price Range</td>
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
              </div></td
            >
            <td
              ><div>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  data-icon="dollar"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.74 23.8H15.19V22.05C16.3567 21.84 17.36 21.385 18.2 20.685C19.04 19.985 19.46 18.9467 19.46 17.57C19.46 16.59 19.18 15.6917 18.62 14.875C18.06 14.0583 16.94 13.3467 15.26 12.74C13.86 12.2733 12.8917 11.865 12.355 11.515C11.8183 11.165 11.55 10.6867 11.55 10.08C11.55 9.47333 11.7658 8.995 12.1975 8.645C12.6292 8.295 13.2533 8.12 14.07 8.12C14.8167 8.12 15.4 8.30083 15.82 8.6625C16.24 9.02417 16.5433 9.47333 16.73 10.01L18.97 9.1C18.7133 8.28333 18.2408 7.57167 17.5525 6.965C16.8642 6.35833 16.1 6.02 15.26 5.95V4.2H12.81V5.95C11.6433 6.20667 10.7333 6.72 10.08 7.49C9.42667 8.26 9.1 9.12333 9.1 10.08C9.1 11.1767 9.42083 12.0633 10.0625 12.74C10.7042 13.4167 11.7133 14 13.09 14.49C14.56 15.0267 15.5808 15.505 16.1525 15.925C16.7242 16.345 17.01 16.8933 17.01 17.57C17.01 18.34 16.7358 18.9058 16.1875 19.2675C15.6392 19.6292 14.98 19.81 14.21 19.81C13.44 19.81 12.7575 19.5708 12.1625 19.0925C11.5675 18.6142 11.13 17.8967 10.85 16.94L8.54 17.85C8.86667 18.97 9.37417 19.8742 10.0625 20.5625C10.7508 21.2508 11.6433 21.7233 12.74 21.98V23.8ZM14 28C12.0633 28 10.2433 27.6325 8.54 26.8975C6.83667 26.1625 5.355 25.165 4.095 23.905C2.835 22.645 1.8375 21.1633 1.1025 19.46C0.3675 17.7567 0 15.9367 0 14C0 12.0633 0.3675 10.2433 1.1025 8.54C1.8375 6.83667 2.835 5.355 4.095 4.095C5.355 2.835 6.83667 1.8375 8.54 1.1025C10.2433 0.3675 12.0633 0 14 0C15.9367 0 17.7567 0.3675 19.46 1.1025C21.1633 1.8375 22.645 2.835 23.905 4.095C25.165 5.355 26.1625 6.83667 26.8975 8.54C27.6325 10.2433 28 12.0633 28 14C28 15.9367 27.6325 17.7567 26.8975 19.46C26.1625 21.1633 25.165 22.645 23.905 23.905C22.645 25.165 21.1633 26.1625 19.46 26.8975C17.7567 27.6325 15.9367 28 14 28Z"
                  ></path>
                </svg>
              </div></td
            >
          </tr>
        </tbody>
      </table>
    </div>

    <style>
      body {
        background-color: #1f1e21;
      }

      #comparison-table-wrapper {
        color: white;
      }

      #btn-wrapper {
        display: none;
      }

      #comparison-table-wrapper,
      #comparison-table-wrapper table {
        width: 100%;
      }

      #comparison-table-wrapper svg {
        flex-shrink: 0;
      }

      #comparison-table-wrapper span {
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      #comparison-table-wrapper td,
      #comparison-table-wrapper th {
        padding-block: 16px;
        padding-inline: clamp(10px, 2svw, 48px);
      }

      #comparison-table-wrapper th:not(:nth-child(2)) {
        background-color: #423d4c;
      }

      #comparison-table-wrapper th:first-child {
        border-top-left-radius: 16px;
        font-size: 1.25em;
      }

      #comparison-table-wrapper td:first-child {
        background-color: #1f1e21;
      }

      #comparison-table-wrapper th:last-child {
        border-top-right-radius: 16px;
      }

      #comparison-table-wrapper th:nth-child(2),
      #comparison-table-wrapper td:nth-child(2) {
        background-color: #211c2b;
        position: relative;
      }

      #comparison-table-wrapper th:nth-child(2) {
      }

      #comparison-table-wrapper th:nth-child(2)::before,
      #comparison-table-wrapper td:nth-child(2)::before {
        content: "";
        inset: 0;
        position: absolute;
        border-left: 1px solid #a38cf3;
        border-right: 1px solid #a38cf3;
      }

      #comparison-table-wrapper th:nth-child(2)::before {
        border-top: 1px solid #a38cf3;
      }

      #comparison-table-wrapper tr:last-child td:nth-child(2)::before {
        border-bottom: 1px solid #a38cf3;
      }

      #comparison-table-wrapper thead svg {
        margin-inline: auto;
        height: 1em;
        max-width: 100%;
      }

      #comparison-table-wrapper td {
        border-bottom: 1px solid #525153;
      }

      #comparison-table-wrapper td:first-child {
        font-weight: 600;
      }

      #comparison-table-wrapper td div {
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
        gap: 4px;
        margin-inline: auto;
        font-size: 1em;
      }

      #comparison-table-wrapper tbody svg {
        width: 1.5em;
        max-width: 24px;
        aspect-ratio: 1;
      }

      [data-icon="yes"] {
        fill: #8cf3a7;
      }

      [data-icon="no"] {
        fill: #ff4c4c;
      }

      [data-icon="warning"] {
        fill: #ffea00;
      }

      [data-icon="dollar"] {
        fill: #d7c290;
      }

      @media screen and (max-width: 1024px) {
        #comparison-table-wrapper table {
          font-size: 0.875em;
          table-layout: fixed;
        }

        #comparison-table-wrapper th:first-child,
        #comparison-table-wrapper td:first-child {
          /* width: 9rem; */
          width: min(9.3rem, 33svw);
          position: sticky;
          left: 0;
          z-index: 2;
        }

        #comparison-table-wrapper th:nth-child(2),
        #comparison-table-wrapper td:nth-child(2) {
          width: min(7.8rem, 27svw);
          position: sticky;
          /* left: 9rem; */
          left: min(9.3rem, 33svw);
          z-index: 2;
        }

        #comparison-table-wrapper th:nth-last-child(-n + 3),
        #comparison-table-wrapper td:nth-last-child(-n + 3) {
          width: min(7.8rem, 27svw);
        }

        #comparison-table-wrapper th:first-child {
          text-align: start;
        }
      }

      @media screen and (max-width: 640px) {
        #comparison-table-wrapper td,
        #comparison-table-wrapper th {
          padding-block: 10px;
        }

        #comparison-table-wrapper th:first-child {
          border-top-left-radius: 12px;
        }
      }

      @media screen and (max-width: 480px) {
        #btn-wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          margin-bottom: 40px;
        }

        #btn-wrapper button {
          background-color: #423d4c;
          color: white;
          padding: 8px 12px;
          border-radius: 6px;
          font-size: 1em;
          cursor: pointer;
        }

        td:nth-child(n + 3),
        th:nth-child(n + 3) {
          display: none;
        }

        td:nth-child(3),
        th:nth-child(3) {
          display: table-cell;
        }
      }
    </style>
  </main>
</Layout>
