---
import HowToCard from "../components/HowToCard.astro";
import HowToCardList from "../components/HowToCardList.astro";
import cards from "../data/howTo.json";
---

<section id="how-to">
  <h2>How I Work</h2>
  <div class="flex flex-col gap-section-sm">
    {
      cards.map((card) => (
        <HowToCard title={card.title} description={card.description}>
          <HowToCardList items={card.items} />
        </HowToCard>
      ))
    }
  </div>
</section>
