---
const { items } = Astro.props;
---

<ul class="flex flex-col gap-y-2 marker:font-mono">
  {
    items.map((item) => (
      <li class="list-decimal list-inside  py-4 border-t border-current/30 border-dashed">
        <h4 class="inline">{item.title}</h4>
        <p class="text-pretty pt-2">{item.description}</p>
      </li>
    ))
  }
</ul>
