@layer components {
  #projects {
    @apply grid-wrapper;
    & > ul {
      @apply grid-wrapper__subgrid;

      & > li {
        @apply grid-wrapper__subgrid relative overflow-y-clip border-t border-dashed border-neutral-500 transition-all duration-600;
        grid-template-rows: max-content minmax(0, 0fr);
      }

      & > li:last-of-type {
        @apply border-b;
      }
    }

    button {
      @apply grid-wrapper__subgrid text-2xl py-4 text-start items-center cursor-pointer max-lg:flex max-lg:gap-svw;

      &::after {
        content: "";
        @apply absolute -inset-y-px -inset-x-svw -z-1 scale-y-0 bg-sky-700 transition-transform duration-200 md:inset-x-0;
      }

      &[data-enter]::after {
        @apply scale-y-100;
      }

      &[data-leave]::after {
        @apply scale-y-0;
      }

      &[data-enter="bottom"]::after {
        @apply origin-bottom;
      }

      &[data-enter="top"]::after {
        @apply origin-top;
      }

      &[data-leave="bottom"]::after {
        @apply origin-bottom;
      }

      &[data-leave="top"]::after {
        @apply origin-top;
      }

      div:first-of-type {
        @apply font-secondary -order-1 md:px-3 max-[20rem]:hidden;
      }

      div:last-of-type {
        @apply relative shrink-0 ms-auto w-[.78lh] aspect-square flex justify-center items-center md:me-3;
      }

      div:last-of-type::before,
      div:last-of-type::after {
        content: "";
        @apply bg-current w-full h-0.5;
      }

      div:last-of-type::after {
        @apply absolute rotate-90 opacity-100 transition-all duration-300 ease-in-out;
      }
    }

    [id^="project-"] {
      @apply col-span-full pt-2 pb-4 grid grid-cols-1 gap-8 md:grid-cols-2 md:px-3;

      & > * {
        @apply scale-y-0 opacity-0 origin-top transition-all duration-300;
      }

      &::after {
        content: "";
        @apply absolute -inset-y-px -inset-x-svw -z-1 bg-sky-700 scale-y-0 transition-transform origin-top duration-700 md:inset-x-0;
      }
    }

    [data-project-img] {
      @apply delay-150 relative flex items-end justify-end md:p-svw md:rounded-sm md:bg-neutral-400;

      & > img {
        @apply drop-shadow-lg drop-shadow-zinc-900;
        &:last-of-type {
          @apply absolute w-1/4 md:w-2/9;
        }
      }
    }

    [data-project-info] {
      @apply flex flex-col gap-y-6 delay-350 md:justify-between;

      & > p {
        @apply text-xl leading-tight;
      }

      & > div {
        @apply grid grid-cols-1 gap-x-3 gap-y-6 mb-4 xs:grid-cols-2;
      }

      h4 {
        @apply heading-mono border-b border-dashed border-neutral-400 pb-2 pe-2;

        & + ul {
          @apply pt-2 pe-2;
        }
      }

      a,
      span:last-child {
        @apply px-6 py-3 w-fit border border-neutral-400 heading-mono rounded-sm;
      }

      a {
        @apply transition-colors hover:bg-neutral-400;
      }
    }

    & > ul > li:has(button[aria-expanded="true"]) {
      grid-template-rows: max-content minmax(0, 1fr);
      /* 
      &,
      & + li:not(:hover) {
        border-top-color: transparent;
      } */

      button {
        div:last-of-type::after {
          @apply rotate-180 opacity-30;
        }
      }

      & > [id^="project-"] {
        & > * {
          @apply scale-y-100 opacity-100;
        }

        &::after {
          @apply scale-y-100 duration-200;
        }
      }

      [data-project-img] {
        @apply delay-250;
      }

      [data-project-info] {
        @apply delay-50;
      }
    }
  }
}
