---
const { title, index } = Astro.props;
---

<article data-service>
  <span aria-hidden="true">S/{index}</span>
  <h3>{title}</h3>
  <main>
    <slot />
    <slot name="aside" />
  </main>
  <slot name="icon" />
</article>
