---
import Head from "@components/Head.astro";
import Header from "@components/sections/Header.astro";
---

<Head {...Astro.props} />
<body>
  <Header />
  <slot />
  <script>
    import { initHoverDirection } from "@scripts/animations/hoverDirection.js";
    import { initHeader, initSmoothScroll } from "@scripts/header.js";

    initHeader();
    initSmoothScroll();

    initHoverDirection();
  </script>
</body>
