---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="font-sans">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Weblate | Web Development & Design Studio</title>
    </head>
    <body class="antialiased font-sans bg-indigo-50">
        <slot />
    </body>
</html>
