---
const { title, id } = Astro.props;
---

<h2
  id={id}
  class="heading-mono lg:grid-wrapper__subgrid mb-6 max-lg:flex max-lg:justify-between"
>
  <span aria-hidden="true">/</span><span>{title}</span>
</h2>
