---
import SectionHeading from "@components/UI/SectionHeading.astro";

const { id, title, class: className = "" } = Astro.props;
---

<section id={id} class={className}>
  <SectionHeading title={title} id={`${id}-title`} />
  <slot />
</section>
