---
const { href, ariaLabel, Icon, dataUmamiEvent } = Astro.props;
---

<li class="">
  <a
    data-umami-event={dataUmamiEvent}
    data-umami-event-link={ariaLabel}
    href={href}
    aria-label={ariaLabel}
    target="_blank"
    class="w-[clamp(45px,2.5em,78px)] aspect-square flex justify-center items-center *:rounded-[6px] hover:*:w-3/4"
    ><Icon class="w-3/5 aspect-square transition-all" fill="currentColor" /></a
  >
</li>
